# 1] EMAIL SPAM PROJECT

In [1]:
# Problem Statement

The objective of this project is to create an email spam detection system that uses machine learning algorithms to classify incoming emails. By training the model on a labeled dataset of spam and non-spam emails, we aim to develop an accurate and efficient spam detector that can reliably identify and categorize emails based on their content and characteristics.

In [2]:
# IMPORT THE LIBRARIES

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [4]:
# READ THE DATA

In [38]:
df_spam = pd.read_csv("Email_Spam_Dataset.csv")

In [44]:
df_spam.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [7]:
# EXPLORATORY DATA ANALYSIS

In [46]:
df_spam.shape

(5572, 5)

In [8]:
df_spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [9]:
df_spam.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [10]:
# Dropping the unnecessary columns

In [11]:
drop_list = ["Unnamed: 2","Unnamed: 3","Unnamed: 4"]

In [12]:
df_spam.drop(drop_list,axis=1,inplace=True)

In [13]:
df_spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [14]:
# Handling Missing Values

In [15]:
df = df_spam.where((pd.notnull(df_spam)), '')

In [16]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [48]:
df.isna().sum()

v1    0
v2    0
dtype: int64

In [17]:
# Labelling

In [18]:
df.loc[df['v1']=='spam','v1',]= 0
df.loc[df['v1']=='ham','v1',]= 1

In [19]:
X = df['v2']
Y = df['v1']

In [20]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will �_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [21]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [22]:
# Mode_Building

In [23]:
X_TRAIN,X_TEST,Y_TRAIN,Y_TEST = train_test_split(X,Y,test_size=0.2,random_state = 30)

In [24]:
print(X.shape)
print(X_TRAIN.shape)
print(X_TEST.shape)

(5572,)
(4457,)
(1115,)

In [ ]:
# TEXT FEATURE EXTRACTION

In [25]:
feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english',lowercase='True')

X_TRAIN_FEATURES = feature_extraction.fit_transform(X_TRAIN)
X_TEST_FEATURES = feature_extraction.transform(X_TEST)

Y_TRAIN = Y_TRAIN.astype("int")
Y_TEST = Y_TEST.astype("int")

In [26]:
print(X_TRAIN)

353     Yo you guys ever figure out how much we need f...
3565    Its ok..come to my home it vl nice to meet and...
4335    Fyi I'm taking a quick shower, be at epsilon i...
3259    I'm always looking for an excuse to be in the ...
5044    We have sent JD for Customer Service cum Accou...
                              ...
919                 Dont talk to him ever ok its my word.
5260    If anyone calls for a treadmill say you'll buy...
500     Fighting with the world is easy, u either win ...
3885    Same, I'm at my great aunts anniversary party ...
4517    That sucks. So what do you got planned for you...
Name: v2, Length: 4457, dtype: object

In [27]:
print(X_TRAIN_FEATURES)

  (0, 7111)	0.29395209267587863
  (0, 6089)	0.28868801522726256
  (0, 5624)	0.34333854151986914
  (0, 6751)	0.22726280438860133
  (0, 3643)	0.2727037609643373
  (0, 880)	0.3273542872569439
  (0, 4548)	0.18032191606739686
  (0, 2743)	0.5773760304545251
  (0, 3173)	0.2352890868064062
  (0, 7354)	0.2407352524384869
  (1, 1689)	0.40646209221709956
  (1, 4251)	0.3686140007969257
  (1, 4585)	0.383004097164064
  (1, 6988)	0.5257366374672136
  (1, 3340)	0.32777629629608457
  (1, 1853)	0.2983824770494377
  (1, 4714)	0.2816943956905303
  (2, 4311)	0.2901984684920195
  (2, 3150)	0.21938863758877808
  (2, 4085)	0.2196694997350404
  (2, 3949)	0.22197200975383446
  (2, 2548)	0.43729306916357014
  (2, 5851)	0.3738900221033275
  (2, 5289)	0.39267306950647696
  (2, 6410)	0.35253761012334
  :	:
  (4453, 3996)	0.17716981535398107
  (4453, 3150)	0.18306678172055313
  (4453, 4085)	0.18330114449242899
  (4454, 2257)	0.22587339157649133
  (4454, 2741)	0.22587339157649133
  (4454, 1796)	0.1834926239838099
  (4454, 6012)	0.21444849911383998
  (4454, 2740)	0.21444849911383998
  (4454, 2447)	0.1720677315211585
  (4454, 7249)	0.1672804435743553
  (4454, 4044)	0.7706485316582216
  (4454, 1490)	0.1720677315211585
  (4454, 7178)	0.3020265662877419
  (4455, 6126)	0.4568730247880503
  (4455, 6429)	0.4568730247880503
  (4455, 1108)	0.43560313017687
  (4455, 4875)	0.3674453242648059
  (4455, 941)	0.43560313017687
  (4455, 3123)	0.2608022969189348
  (4456, 6294)	0.3146336368633607
  (4456, 6920)	0.6292672737267214
  (4456, 1015)	0.32883129520661364
  (4456, 5011)	0.3146336368633607
  (4456, 3088)	0.17978680526785526
  (4456, 7354)	0.51534525443544

In [28]:
model = LogisticRegression()

In [29]:
model.fit(X_TRAIN_FEATURES,Y_TRAIN)

LogisticRegression()

In [30]:
# MODEL_PREDICTION

In [31]:
Prediction_on_training = model.predict(X_TRAIN_FEATURES)
accuracy_on_training = accuracy_score(Y_TRAIN,Prediction_on_training)

In [32]:
print("accuracy on training data: ",accuracy_on_training)

accuracy on training data:  0.9694862014808167

In [33]:
Prediction_on_testing = model.predict(X_TEST_FEATURES)
accuracy_on_testing = accuracy_score(Y_TEST,Prediction_on_testing)

In [34]:
print("accuracy on testing data: ",accuracy_on_testing)

accuracy on testing data:  0.9560538116591928

In [35]:
# SPAM DETECTIOR

In [36]:
input_mail = ["WINNER!! As a valued network customer you have been selected to receivea 螢900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]
input_data_features = feature_extraction.transform(input_mail)
prediction = model.predict(input_data_features)
print(prediction)
if(prediction[0]==1):
    print("Ham mail")
    
else:
    print("Spam mail")

[0]
Spam mail